<div class="pessoal">
    <a href="https://www.linkedin.com/in/camisjef/">
        <img class="camila" src="img/camilaalves.jpeg" alt="Camila Alves">
    </a>
    <p id="nome">Camila Alves</p>
</div>
